.body {
    width: 75%;
    height: fit-content;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;   
    margin-left: 20px;
    margin-right: 20px;
    border: 1px dotted red;
    text-align: center;
    font-size: 1.2rem;
}