#header {
    width: 75%;
    height: 400px;    
    padding: 20px;
    padding-top: 40px;    
    margin: 20px;
    border: 1px dotted #cccccc;
    text-align: center;
}

.btn{
    margin-top: 30px;
    float: left;
}

button {
    padding: 0.7rem 1.2rem;
    color: #28aadc;
    background-color: #fff;
    font-size: 0.7rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 12rem;
    border: .2rem solid #28aadc;
    -webkit-transition: color .3s,border .3s;
    transition: color .3s,border .3s;
}

button:active {
    outline: none;
}